{% extends 'base.html' %}

{% load static %}
{% block center %}


<body>

  <div class="text-center m-4">

    <br><br><br><br><br> <br> <br>
    <h1 class="m-1 text-center">Bem-vindo ao RESERFINE, o maior site de reservas do auto oeste potiguar</h1>
      <h3>Aberto o formulário para stands da finecap 2023, confira já.</h3>
      <img src="{% static 'img/bandas.jpeg' %}" width="280px" height="300px">

      <br><br><br><br><br> <br> <br>


  </div>

</body>

  
<!-- <img src="{% static 'img/gif.webp' %}"> -->


{% endblock %}