{% extends 'base.html' %}

{% load static %}
{% block center %}


<body>

    <div class="container text-center">
        <div class="row">
          <div class="col-sm-4">
          </div>
          <div class=" text-center">
            <br>  <br>  <br>  <br>  <br> <br> <br>
            
            <h5 class="m-4"> <a href="{% url 'reservas:cadastrar'%}" class="btn btn-outline-secondary" > <strong>Reservar</strong>  
            <a href="{% url 'reservas:listar'%}" class="btn btn-outline-secondary" > <strong>Listar Reservas</strong> 
            <a href="{% url 'stand:formstand'%}" class="btn btn-outline-secondary" > <strong>Stands</strong> 
            <a href="{% url 'stand:listastand'%}" class="btn btn-outline-secondary" > <strong>Listar Stands</strong> 
            </a>
              <br>  <br>  <br>  <br>  <br> <br> <br>
    
          </div>
        </div>




</body>


{% endblock %}