{% extends 'base.html' %}

{% load static %}
{% block center %}

<body>
<div class="text-center m-4">
<h3 class="fw-bold">RESERVAS PARA STANDS DA FINECAP 2023</h3>
<br><br>
<img src="{% static 'img/stand.JPG' %}" width="500px" height="400px">

<br><br>
    <p> A programação da Finecap 2023 segue até o dia 04 de setembro, com cavalgada, feira de negócios e shows musicais com artistas locais e nacionais. Além da valorização da cultura e da história local, a festa que comemora 167 anos de Emancipação Política de Pau dos Ferros incrementa a economia da cidade e fomenta o turismo de eventos na região.
    </p>
<p> Venha já fazer a sua inscrição também, pequeno ou grande empreendedor!</p>
        <br><br><br><br><br><br><br><br>


</div>

</body>

{% endblock %}