{%extends 'base.html'%}


{% block center %}
<div class="container mt-5">
    <h2 class="text-center alert alert-danger">
         Delete Stand
    </h2>

    <div class="row">
        <div class="col-md">
           <form method="POST"> 
            {% csrf_token%}
            <h5>Tem certeza que deseja deletar o Stand {{stand}}?</h5>
            
            <input class="btn btn-danger" type="submit" value="Sim">
           
           
           </form>
        </div>
    </div>
</div>

{% endblock center %}