{% extends "base.html" %}

{% block title %}
Detalhes das Reservas
{% endblock %}

{% block center %}
    <div class="row">
        <div class="col-12">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Detalhe dos Stands</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">Localização</h5>
            <p class="card-text">{{stand.localizacao}}</p>

            <h5 class="card-title">Valor</h5>
            <p class="card-text">{{stand.valor}}</p>

        
        </div>
      
       
    </div>
        <a href="{% url 'stand:listastand' %}" class="btn btn-secondary">Voltar</a>
        <a href="{% url 'stand:updateStand' stand.pk %}" class="btn btn-primary">Editar</a>
        <a href="{% url 'stand:apagarstand' stand.pk %}" class="btn btn-danger">Apagar</a>
        
{% endblock %}