{% extends 'base.html' %}

{% load static %}
{% block center %}
<br>
<h4 class="text-center mb-3">Formulário para cadastro de stands</h4>
<hr>


<div class="container">
    <div class="row">
      <div class="col">
        <!-- 1 of 3 -->
      </div>
      <div class="col-6 mb-3">
        
        
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label "><strong>Localização</strong></label>
                {{form.localizacao}}
              </div>
            
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label"><strong>Valor</strong></label>
                {{form.valor}}
              </div>
            
            
              <div class="text-center m-4">

            
            <button type="submit" class="btn btn-secondary">Enviar</button>
            <a href="{% url 'listar' %}" class="btn btn-secondary">Voltar</a>
            </div>

        </form>



      </div>
      <div class="col">
        <!-- 3 of 3 -->
      </div>
    </div>
    <div class="row">
      <div class="col">
        <!-- 1 of 3 -->
      </div>
      <div class="col-5">
        <!-- 2 of 3 (wider) -->
      </div>
      <div class="col">
        <!-- 3 of 3 -->
      </div>
    </div>
  </div>
    
 



{% endblock %}