{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/style.css'  %}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>RESERFINE</title>
</head>
<body>
    
    {% block nav %}

    <!-- <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark"> col-12 position-fixed -->


       <nav class="navbar navbar-expand-lg bg-body-tertiary navbar bg-label border-bottom border-body " data-bs-theme= "label">
        <div class="container-fluid">
          <a class="navbar-brand text-primary" href="{% url 'index' %}">RESEFINE</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Início</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'sobre' %}">Sobre</a>
              </li>
              <li class="nav-item">
                <!-- <a class="nav-link" href="{% url 'cadastrar' %}">Reservar</a> -->
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'mais' %}">Mais</a>
              </li>
        


           </ul>

          </div>
        </div>
      </nav>

    {% endblock %}





    {% block center %}

    {% endblock %}


    

    {% block footer %}



<footer>

  <div class="container text-center">
       <p class="reserfine"><strong>© Todos os direitos reservados a RESERFINE</strong></p>
      </div>
    </div>
  </div>

</footer>


    {% endblock %}


</body>
</html>